.j-cards .j-card {
  position: relative;
}
.j-cards .j-card.j-card-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.j-cards .j-card .j-card-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: none;
}
.j-cards .j-card .j-card-hover .j-card-hover-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  opacity: .5;
}
.j-cards .j-card .j-card-hover.active {
  display: block;
}
body {
  font-family: sans-serif;
}
.pl-top-nav {
  background: #000;
}
.pi-player-cards {
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}
.pi-player-cards .j-card.panel,
.pi-player-cards .j-card .panel {
  background-color: transparent;
}
.pi-player-cards .j-card.panel > .panel-heading i,
.pi-player-cards .j-card .panel > .panel-heading i {
  margin-right: 8px;
}
.pi-player-cards .j-card.panel > .panel-body,
.pi-player-cards .j-card > .panel > .panel-body {
  padding-top: 100px;
}
.pi-player-cards .j-card .j-card-hover .panel {
  background: none;
}
.pi-player-cards-gtrd .j-card {
  border: solid 1px #555;
}
.pi-player-cards-ngtrd .j-card {
  border-right: solid 1px #666;
  border-bottom: solid 1px #666;
}
.pi-player-cards-ngtrd .j-card > .panel {
  margin-bottom: 0;
}
.pi-player-cards-ngtrd .j-card > .panel > .panel-heading,
.pi-player-cards-ngtrd .j-card > .panel > .panel-body {
  padding-left: 0;
  padding-right: 0;
}
